<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/slideShow.css" type="text/css>">
	<title>Vecta Corp | Page Not Found</title>
</head>
<body>
  <h1>404 - Page Not Found</h1>
</body>
</html>

<!--
vim: ft=html nu ai et ts=2
-->
