<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  <h1>Add a New Employee</h1>
  <%- include('./partials/nav.ejs') %>
  <h4>Add Employee</h4>
  <!-- form:post,,  -->
  <form action="/add" method="post" class="container-fluid">
    <!-- div.row,,  -->
    <div class="row">
      <!-- div.col-md-12,,  -->
      <div class="col-md-12">
        <label>Name:
          <input id="name" type="text" name="name" class="form-control">
        </label>
        <br>
        <label>Extension:
          <input id="extension" type="text" maxlength="4" name="extension" class="form-control">
        </label>
        <br>
        <label>Email:
          <input id="email" type="text" name="email" class="form-control">
        </label>
        <br>
        <label>Title:
          <input id="title" type="text" name="title" class="form-control">
        </label>
        <br><br>
          <input type="submit" value="Add Employee" class="btn btn-primary">
      </div>
    </div>
  </form>
</body>
</html>

<!--
vim: ft=html nu ai et ts=2
-->
