<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <!--  Zak has something Microsoft specific here -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vecta Corp | <%= title %></title>
</head>
<body>
  <h1>Add Employee</h1>
</body>
</html>

<!--
vim: ft=html nu ai et ts=2
-->
