/* vim: ft=css ai ts=4 et nu


A CSS rule

    selector {
        [css declarations]
        property: value;
    }

🐧

*/

body {
    background-color: #d2ebf5;
    color:  #113b4d;
    font-family: Arial, Times, sans-serif;  /* font stack */
}

/* complement foreground and background colors */
h1 {
    background-color: #113b4d;
    color: #d2ebf5;
    text-align: center;
    font-size: 40px;
    /*
    padding: 20px;
    */
    margin-bottom: 0;
}

/*
h2 {
    border: solid 1px red;
    padding-top: 20px;
    padding-left: 15px;
}
*/
h2 {
    font-style: italic;  /* same as <em> tag */
    text-align: center;
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: dashed 2px #113b4d;
}

img {
    width: 400px;
}
p.caption {  /* no spaces, else applies to all of same class */
    font-size:12px;
    margin-top: 0;
    font-style: italic;
}
h3#subHeading {
    border-bottom: solid 1px #113b4d
}
