body {
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 36px;
  margin: 0;
  padding: 15px;
  background-color: #069;
  text-transform: uppercase;
}

h2 {
        color: #069;
        margin-bottom: 10px;
        font-size: 30px;
}

h3 {
        color: #666;
        margin: 0;

}
/* vim: ai ts=2 et nu
*/
