/*  *********************************************************
    **      TABLE OF CONTENTS
    **
    **  1. Project_details: color/typography info
    **  2. CSS_Reset
    **  3. Global_Styles
    **  4. Header_and_Nav_Content
    **  5. Main_Body_Content
    **  6. Generic_Selectors
    **  7. Footer_Content
    **  8. Media_Queries
    *********************************************************/

/*  *********************************************************
    **
    **  1. Project_details: color/typography info
    **
    **  Project Details
    **    Name:             Nessie, find the truth
    **    Author:           Emily Kay
    **    Version Date:     2024/06/02
    **    Version Number:   1.1
    **    Notes:            blah, blah, blah
    **
    **  Color Guide
    **    Color         Purpose     Hex Value
    **    light teal    nav         #5cafc1
    **
    **
    **
    **
    **  Typography Guide
    **    Section       Font
    **    headings      Lilita One
    **    body          Maven Pro
    **    quotes        Georgia, Italic
    **
    *********************************************************/

/*  *********************************************************
    **  2. CSS_Reset
        ERIC MEYER RESET (MODIFIED)
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126 | License: none (public domain)
*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

/* 
    *********************************************************
    **  3. Global_Styles
    *********************************************************
 */
body {
    background: url(../images/bg1.jpg) fixed no-repeat;
    background-size: cover;
    font: normal 400 100% "Maven Pro", sans-serif;
    margin: 0 auto;
    max-width: 960px;
}
h1, h2, h3, h4 { font-family: "Lilita One", sans-serif; }
h1 {
    font-size: 2em;
    letter-spacing: 2px;
    margin: 1em 0;
    text-align: center;
    text-shadow: 0px 0px 6px #ffffff, 2px 2px 3px #ffffff;
}
h2 {
    font-size: 1.5em;
    letter-spacing: 1px;
    margin: 1em 0;
}
p { margin-bottom: 1em; }
a {
    color: #155967;
    text-decoration: none;
}
a:hover { color: #3e907a; }

/* 
    *********************************************************
    **  4. Header_and_Nav_Content
    *********************************************************
 */
header {
    clear: both;
    margin-top: 2%;
    text-align: center;
}
.logo {
    width: 30%;
    min-width: 180px;
    height: auto;
}

#navWrap { padding-top: .75em }
nav {
    background-color: #000;
    color: #f8f8f8;
    font-weight: 700;
    height:2.8em;
    text-align: center;
    margin: 12% 5% -1% 12%;
    padding: 3px 10px 5px;
}

nav a {
    color: #5cafc1;
    background: no-repeat 0% 20px;
    background-size: contain;
    padding-top: 70px;
    margin: 0 3%;
}

.navHome { background-image: url(../images/btnHome.png); }
.navAbout { background-image: url(../images/btnAbout.png); }
.navGallery { background-image: url(../images/btnGallery.png); }
.navContact { background-image: url(../images/btnContact.png); }

nav a:hover { color: #ffffff; }

/*  
    *********************************************************
    **  5. Main_Body_Content
    *********************************************************
 */

.colA {
    float: left;
    margin: 0 5%;
    width: 90%;
}

.colB {
    background-color: #f2f2f2;
    border-bottom: 10px solid #90b6b0;;
    border-top: 10px solid #90b6b0;;
    float: right;
    margin: 0 5% 5%;
    padding: 0 2% 0 3%;
    width: 84%;
}
/*  
    *********************************************************
    **  6. Generic_Selectors
    *********************************************************
 */

/* 
    *********************************************************
    **  7. Footer_Content
    *********************************************************
 */

footer {
    background-color: #155967;
    clear: both;
    color: #fff;
    font-size: x-small;
    font-weight: 600;
    margin: 5% auto;
    padding: 10px;
    text-align: center;
}

/* 
    *********************************************************
    **  8. Media_Queries
    *********************************************************
 */

@media screen and (min-width:600px) {
    h1 { font-size: 2.2em; }
    nav {
        font-weight: 800;
        height:3em;
        margin: 8% 2% 5%;
        padding: 5px 10px;
    }
    .colA {
        float: left;
        width: 30%;
        margin: 0 2.5% 5% 5%;
    }
    .colB {
        float: right;
        width: 50%;
        margin: 0 2.5% 5% 5%;
        padding-left: 10px;
    }
}

@media screen and (min-width:750px) {
    h1 { font-size:2.6em; }
    .logo { max-width: 100%; }
    nav { margin-top: 6%; }
}
/* vim: ft=css nu ai et sw=4 ts=4
*/
