html { font-size: 10px; }
body {
  font: 1.5rem Verdana, Arial, sans-serif;
  color: #333;
  margin: 2rem;
}
h1 { font-size: 4rem; margin-bottom: 2em;}
p { 
  font-size: 2.5rem; 
  margin-bottom: 4rem;
}

/* .highlight {
  background-color: #f9ca23;
  border-bottom: solid 3px #5a95fa;
} */
/* vim: ft=css ai et ts=2 nu
*
