body, html {
  height: 100%;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header header"
    "sidebar content"
    "footer footer";
  gap: 10px;
  padding: 10px;
  border: 5px solid black; /* Adjust the border size and color as needed */
}

header {
  grid-area: header;
  background: linear-gradient(to right, #6D5B97, #D3CCE3);
}

aside {
  grid-area: sidebar;
  background: linear-gradient(to bottom, #11998e, #38ef7d);
}

article:nth-child(3) {
  grid-area: content;
  background: linear-gradient(to right bottom, #4568DC, #B06AB3);
}

article:nth-child(4) {
  background: linear-gradient(to right bottom, #43C6AC, #191654);
}

article:nth-child(5) {
  background: linear-gradient(to right bottom, #4B79A1, #283E51);
}

footer {
  grid-area: footer;
  background: linear-gradient(to right, #4C1B4B, #A26769);
}

